<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Role</title>
</head>
<body>
    <% role.forEach(r => { %>
        <form action="/user/role/set-role" method="post">
            <input type="hidden" name="role" value="<%= r %>">
            <button type="submit"><%= r %></button>
        </form>
    <% }); %>
</body>
</html>